[data-theme='light'] {
  --base-active: rgba(252,252,252,1);
  --base-contrast: rgba(15,15,15,1);

  --text-active-primary: rgba(15,15,15,1);
  --text-active-secondary: rgba(0,0,0,0.720);
  --text-active-tertiary: rgba(0,0,0,0.480);
  --text-active-quarternary: rgba(0,0,0,0.320);

  --text-contrast-primary: rgba(252,252,252,1);
  --text-contrast-secondary: rgba(255,255,255,0.720);
  --text-contrast-tertiary: rgba(255,255,255,0.480);
  --text-contrast-quarternary: rgba(255,255,255,0.320);

  --gray-25: rgba(252,252,253,1);
  --gray-50: rgba(250,250,250,1);
  --gray-100: rgba(244,244,245,1);
  --gray-200: rgba(237,236,238,1);
  --gray-300: rgba(213,212,216,1);
  --gray-400: rgba(164,161,170,1);
  --gray-500: rgba(113,109,120,1);
  --gray-600: rgba(75,73,80,1);
  --gray-700: rgba(50,48,54,1);
  --gray-800: rgba(25,24,27,1);
  --gray-900: rgba(18,17,19,1);

  --primary-25: rgba(219, 230, 255, 1);
  --primary-50: rgba(164, 194, 255, 1);
  --primary-100: rgba(109, 159, 255, 1);
  --primary-200: rgba(54, 123, 255, 1);
  --primary-300: #00a1e2;
  --primary-400: #0092d9;
  --primary-500: #0087d3;
  --primary-600: #007acc;
  --primary-700: #015ba1;
  --primary-800: #022e63;
  --primary-900: #020024;

  --secondary-25: rgba(219, 255, 230, 1);
  --secondary-50: rgba(164, 255, 194, 1);
  --secondary-100: rgba(109, 255, 159, 1);
  --secondary-200: rgba(54, 255, 123, 1);
  --secondary-300: #00e2a1;
  --secondary-400: #00d992;
  --secondary-500: #00d387;
  --secondary-600: #01FFC5;
  --secondary-700: #00d2a1;
  --secondary-800: #00b38a;
  --secondary-900: #009e7a;

  --error-25: rgba(254,246,245,1);
  --error-50: rgba(254,243,242,1);
  --error-100: rgba(254,228,226,1);
  --error-200: rgba(254,205,202,1);
  --error-300: rgba(253,162,155,1);
  --error-400: rgba(249,112,102,1);
  --error-500: rgba(240,68,56,1);
  --error-600: rgba(217,45,32,1);
  --error-700: rgba(180,35,24,1);
  --error-800: rgba(145,32,24,1);
  --error-900: rgba(122,39,26,1);

  --warning-25: rgba(255,252,245,1);
  --warning-50: rgba(255,250,235,1);
  --warning-100: rgba(254,240,199,1);
  --warning-200: rgba(254,223,137,1);
  --warning-300: rgba(254,200,75,1);
  --warning-400: rgba(253,176,34,1);
  --warning-500: rgba(247,144,9,1);
  --warning-600: rgba(220,104,3,1);
  --warning-700: rgba(181,71,8,1);
  --warning-800: rgba(147,55,13,1);
  --warning-900: rgba(122,46,14,1);

  --success-25: rgba(241,254,246,1);
  --success-50: rgba(236,253,243,1);
  --success-100: rgba(209,250,223,1);
  --success-200: rgba(166,244,197,1);
  --success-300: rgba(108,233,166,1);
  --success-400: rgba(50,213,131,1);
  --success-500: rgba(18,183,106,1);
  --success-600: rgba(3,152,85,1);
  --success-700: rgba(2,122,72,1);
  --success-800: rgba(5,96,58,1);
  --success-900: rgba(5,79,49,1);

}

[data-theme='dark'] {
  /* reverse order from data-theme=light */
  --base-active: rgba(15,15,15,1);
  --base-contrast: rgba(252,252,252,1);

  --text-active-primary: rgba(252,252,252,1);
  --text-active-secondary: rgba(255,255,255,0.720);
  --text-active-tertiary: rgba(255,255,255,0.480);
  --text-active-quarternary: rgba(255,255,255,0.320);

  --text-contrast-primary: rgba(15,15,15,1);
  --text-contrast-secondary: rgba(0,0,0,0.720);
  --text-contrast-tertiary: rgba(0,0,0,0.480);
  --text-contrast-quarternary: rgba(0,0,0,0.320);

  --gray-25: rgba(18,17,19,1);
  --gray-50: rgba(25,24,27,1);
  --gray-100: rgba(50,48,54,1);
  --gray-200: rgba(75,73,80,1);
  --gray-300: rgba(113,109,120,1);
  --gray-400: rgba(164,161,170,1);
  --gray-500: rgba(213,212,216,1);
  --gray-600: rgba(237,236,238,1);
  --gray-700: rgba(244,244,245,1);
  --gray-800: rgba(250,250,250,1);
  --gray-900: rgba(252,252,253,1);

  --primary-25: #020024;
  --primary-50: #022e63;
  --primary-100: #015ba1;
  --primary-200: #007acc;
  --primary-300: #0087d3;
  --primary-400: #0092d9;
  --primary-500: #00a1e2;
  --primary-600: rgba(54, 123, 255, 1);
  --primary-700: rgba(109, 159, 255, 1);
  --primary-800: rgba(164, 194, 255, 1);
  --primary-900: rgba(219, 230, 255, 1);

  --secondary-25: #009e7a;
  --secondary-50: #00b38a;
  --secondary-100: #00d2a1;
  --secondary-200: #01FFC5;
  --secondary-300: #00d387;
  --secondary-400: #00d992;
  --secondary-500: #00e2a1;
  --secondary-600: #01FFC5;
  --secondary-700: rgba(109, 255, 159, 1);
  --secondary-800: rgba(164, 255, 194, 1);
  --secondary-900: rgba(219, 255, 230, 1);

  --error-25: rgba(122,39,26,1);
  --error-50: rgba(145,32,24,1);
  --error-100: rgba(180,35,24,1);
  --error-200: rgba(217,45,32,1);
  --error-300: rgba(240,68,56,1);
  --error-400: rgba(249,112,102,1);
  --error-500: rgba(253,162,155,1);
  --error-600: rgba(254,205,202,1);
  --error-700: rgba(254,228,226,1);
  --error-800: rgba(254,243,242,1);
  --error-900: rgba(254,246,245,1);

  --warning-25: rgba(122,46,14,1);
  --warning-50: rgba(147,55,13,1);
  --warning-100: rgba(181,71,8,1);
  --warning-200: rgba(220,104,3,1);
  --warning-300: rgba(247,144,9,1);
  --warning-400: rgba(253,176,34,1);
  --warning-500: rgba(254,200,75,1);
  --warning-600: rgba(254,223,137,1);
  --warning-700: rgba(254,240,199,1);
  --warning-800: rgba(255,250,235,1);
  --warning-900: rgba(255,252,245,1);

  --success-25: rgba(5,79,49,1);
  --success-50: rgba(5,96,58,1);
  --success-100: rgba(2,122,72,1);
  --success-200: rgba(3,152,85,1);
  --success-300: rgba(18,183,106,1);
  --success-400: rgba(50,213,131,1);
  --success-500: rgba(108,233,166,1);
  --success-600: rgba(166,244,197,1);
  --success-700: rgba(209,250,223,1);
  --success-800: rgba(236,253,243,1);
  --success-900: rgba(241,254,246,1);
}

$gradient-values: 25, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
$theme-values: 'success', 'error', 'warning', 'primary', 'secondary', 'gray';

/*
output example: 
  .primary-25 {
    color: var(--primary-25);
  }
  .bg-primary-25 {
    color: var(--primary-25);
  }
*/
@each $gradient-item in $gradient-values {
  @each $theme-item in $theme-values {
    .#{$theme-item}-#{$gradient-item} {
      color: var(--#{$theme-item}-#{$gradient-item});
    }
    .bg-#{$theme-item}-#{$gradient-item} {
      background-color: var(--#{$theme-item}-#{$gradient-item});
    }
  }
}

.text-active {
  color: var(--text-active-primary);
}

.text-active-secondary {
  color: var(--text-active-secondary);
}

.text-active-tertiary {
  color: var(--text-active-tertiary);
}

.text-active-quarternary {
  color: var(--text-active-quarternary);
}

.text-contrast {
  color: var(--text-contrast-primary);
}

.text-contrast-secondary {
  color: var(--text-contrast-secondary);
}

.text-contrast-tertiary {
  color: var(--text-contrast-tertiary);
}

.text-contrast-quarternary {
  color: var(--text-contrast-quarternary);
}

.bg-active {
  background-color: var(--base-active);
}

.bg-contrast {
  background-color: var(--base-contrast);
}


